/* Reset styles */
body {
    padding: 0;
    margin: 0;
}

/* Navigation bar styles */
#logo {
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
}

a.nav-link {
    font-size: 20px;
    padding: 10px 20px !important;
}

nav#navbar {
    padding: 0 !important;
}

.button {
    padding: 8px 24px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #000;
    margin-left: 120px;
}

/* Header section styles */
.headerh1 {
    font-size: 55px;
}

.hbutton {
    font-size: 16px;
    background-color: #c52031;
    color: #fff;
    padding: 12px 24px;
    border: none !important;
    margin-top: 20px;
}

/* Trusted by section */
.trustedby {
    font-size: 32px;
}

.span {
    font-weight: 600;
}

/* Schedule a free demo section styles */
.stars {
    color: red;
}

.submitbtn {
    font-size: 16px;
    background-color: #c52031;
    color: #fff;
    padding: 8px 24px;
    border: none !important;
    margin-top: 20px;
    border-radius: 10px;
}

/* Pricing section styles */
.pricingbutton {
    font-size: 16px;
    background-color: #c52031;
    color: #fff;
    padding: 12px 24px;
    border: none !important;
    margin-top: 20px;
    border-radius: 10px;
}

/* Mobile screen styles */
@media (max-width: 576px) {
    /* Header section for mobile */
    h1.headerh1 {
        font-size: 40px !important;
    }

    .headerimg {
        margin-top: 20px !important;
    }
}
